apiVersion: v1
kind: PersistentVolumeClaim
metadata:
  name: cypress-reporting-data
  labels:
    app: cypress-reporting
spec:
  accessModes:
    - ReadWriteOnce
  resources:
    requests:
      storage: 5Gi
